language: node_js
node_js:
  - "node"
cache: 
  directories:
    - node_modules
services:
  - postgresql
env:
  - NODE_ENV=test
before_script:
  - npm install
  - psql -c 'create database database_test;' -U postgres
script:
  - npm run coveralls
# after_script:  
#   - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
# after_success:
#   - npm run coveralls
notifications:
  email: false